<%- include(`partials/_head`); %>
<%- include(`partials/_header`); %>

<h1>Netflix wrapped home page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint incidunt in quia? Doloremque voluptate corrupti in fugiat harum natus quasi quas quidem odio eveniet, provident dolore dolores rerum sunt nulla atque nobis excepturi fugit inventore vero. Beatae saepe ullam veniam, voluptatem nesciunt facilis neque iusto amet quaerat quo. Maxime fugiat est voluptate aut quam quae aperiam perferendis illum rerum? Similique error pariatur commodi facilis excepturi corporis voluptatum aspernatur consequuntur beatae ipsum quam explicabo vel, fuga illo cumque dicta quis suscipit, dolore quasi. Beatae, nostrum corrupti ea numquam saepe sed, perferendis nobis consequatur nesciunt maiores ipsam iure, natus dolore dolor nemo!</p>
<%- include(`partials/_footer`); %>